:root {
  --color-background: #0d1225;
  --color-pink: #ef25b3;
  --color-purple: #8a24e8;
  --color-card-background: #0a0c2a;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
.max-width {
  max-width: 1440px;
  margin: 0 auto;
}
#banner {
  padding-top: 4rem;
  height: auto;
  width: 100%;
  background-image: url("./Images/background-with-pattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.layer {
  /* height: 100%; */
  /* width: 100%; */
  /* display: flex; */
  /* justify-content:center ; */
  /* align-items: center; */
  background: linear-gradient(
    0deg,
    var(--color-background) 0%,
    rgba(138, 36, 232, 0) 90%
  );
}
.roww {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.banner-left {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  gap: 1rem;
}
.banner-right {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.banner-left > h1 {
  font-weight: 800;
  font-size: 2.7rem;
}
.banner-left > p {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
}
.hero-btn {
  border: none;
  border-radius: 10rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
  color: white;
  background: rgb(239, 37, 179);
  background: linear-gradient(
    90deg,
    rgba(239, 37, 179, 1) 0%,
    rgba(138, 36, 232, 1) 75%
  );
}
/* ===[ Banner-End ]=== */

/* ==={ Navbar }=== */
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, #0a0c2a00 0%, #0a0c2a3f 75%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.link {
  color: rgba(255, 255, 255, 0.608);
  font-weight: 500;
  font-size: small;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}
.link:hover {
  color: white;
}
.nav-btn {
  border: none;
  border-radius: 10rem;
  padding: 0.3rem 2rem;
  font-weight: 500;
  color: white;
  background: var(--color-purple);
  font-size: small;
}
.mobile-navbar {
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 2;
  justify-content: space-around;
  /* border-radius: 8px 8px 0 0; */
  backdrop-filter: blur(5px);
  background-color: #0d1225c7;
  background-color: #0d1225;
  border-top: 1px solid rgba(255, 255, 255, 0.048);
}
.mobile-navbar i {
  font-size: 1.3rem;
  font-weight: lighter;
}
.i-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 60%;
  color: #ffffff;
  text-decoration: none;
}
.i-cnt:hover {
  opacity: 100%;
}
.active {
  opacity: 100%;
  scale: 1.1;
}
.i-cnt span {
  font-size: small;
  font-weight: 500;
  /* letter-spacing: 0.5px; */
}
.i-cnt svg {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0.3rem;
}
#email,
#meta {
  background-image: url("./Images/background-with-pattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
#intro {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-background);
}
.title {
  color: #994ce2;
  font-weight: 500;
  font-size: medium;
}
.sub-title {
  font-weight: 800;
  font-size: 2rem;
  color: #ffffff;
}
.para {
  font-weight: 500;
  font-size: large;
  color: #ffffff;
  width: 60%;
  text-align: center;
  opacity: 50%;
}
.card-row > .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 6rem;
  color: #ffffff83;
  border-radius: 8px;
  background-color: #0e142e;
  border-right: 1px solid rgba(255, 255, 255, 0.048);
  border-left: 1px solid rgba(255, 255, 255, 0.048);
  border-bottom: 1px solid rgba(255, 255, 255, 0.048);
}
.card p {
  font-size: large;
  opacity: 50%;
}
.b-one > span {
  font-weight: 800;
  color: #8a24e8;
}
.b-one {
  border-top: 1.5px solid var(--color-purple);
}
.b-two > span {
  font-weight: 800;
  color: #01a3a4;
}
.b-two {
  border-top: 1.5px solid #01a3a4;
}
.b-three > span {
  font-weight: 800;
  color: #ef25b3;
}
.b-three {
  border-top: 1.5px solid #ef25b3;
}
.b-four > span {
  font-weight: 800;
  color: #f0932b;
}
.b-four {
  border-top: 1.5px solid #f0932b;
}
#tech-stack {
  background-image: url("./Images/techStack.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(255, 255, 255, 0.048);
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.chart {
  background-color: #0e142e;
  border: 1px solid rgba(255, 255, 255, 0.048);
  border-radius: 8px;
  height: 500px;
}
.about-title {
  color: #f054c1 !important;
  font-weight: 500 !important;
  font-size: medium !important;
}
.about-left p {
  font-weight: 500;
  font-size: 1.1rem;
  color: #ffffff;
  text-align: left;
  opacity: 60%;
}
.about-sign {
  color: #ffffff !important;
  font-weight: 500 !important;
  font-size: medium !important;
}
.form {
  width: 90%;
  height: auto;
  display: flex;
  backdrop-filter: blur(5px);
  background-color: #06091460;
  gap: 1rem;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1.5px solid rgba(255, 255, 255, 0.048);
}
.form > input,
textarea {
  width: 100%;
  border-radius: 6px;
  border: none;
  padding: 0.5rem 0.5rem;
  font-size: 16px;
  border: 1.5px solid #1c2035;
  background-color: #1c2035;
  color: white;
}

.form > input:focus {
  border: 1.5px solid #ffffff55;
  background-color: #1c2035;
  outline: none;
}
.form > textarea:focus {
  border: 1.5px solid #ffffff55;
  background-color: #1c2035;
  outline: none;
}

.lets-talk {
  color: #ef25b3;
  font-size: large;
  width: 100%;
}
.send-btn {
  width: auto;
  font-size: large;
  border: none;
  border-radius: 10rem;
  padding: 0.2rem 2rem;
  font-weight: 300;
  color: white;
  background: rgb(239, 37, 179);
  background: linear-gradient(
    90deg,
    rgba(239, 37, 179, 1) 0%,
    rgba(138, 36, 232, 1) 75%
  );
}
.metaRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}
.metaRow i {
  font-size: 2rem;
}

.socio {
  height: auto;
  /* border-radius: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.socio span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.fb {
  background-color: #1877f2;
  border-radius: 8px 8px 0 0;
  opacity: 80%;
}
.fb:hover {
  opacity: 100%;
}
.snap:hover {
  opacity: 100%;
}
.insta:hover {
  opacity: 100%;
}
.whatsapp:hover {
  opacity: 100%;
}
.git:hover {
  opacity: 100%;
}
.linkedin:hover {
  opacity: 100%;
}
.insta {
  background: #d6249f;
  background: radial-gradient(
    circle at 1% 107%,
    #fdf497 0%,
    #fdf497 0%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  opacity: 80%;
}
.whatsapp {
  background-color: #6cc751;
  opacity: 80%;
}
.git {
  background-color: #6e5494;
  opacity: 80%;
}
.linkedin {
  background-color: #004182;
  opacity: 80%;
}
.snap {
  color: black;
  background-color: #fffc00;
  border-radius: 0 0 8px 8px;
  opacity: 80%;
}

