:root {
  --color-background: #0d1225;
  --color-pink: #ef25b3;
  --color-purple: #8a24e8;
  --color-card-background: #0a0c2a;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
.max-width {
  max-width: 1440px;
  margin: 0 auto;
}
#banner {
  padding-top: 4rem;
  height: auto;
  width: 100%;
  background-image: url("./Images/background-with-pattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.layer {
  /* height: 100%; */
  /* width: 100%; */
  /* display: flex; */
  /* justify-content:center ; */
  /* align-items: center; */
  background: linear-gradient(
    0deg,
    var(--color-background) 0%,
    rgba(138, 36, 232, 0) 90%
  );
}
.roww {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.banner-left {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  gap: 1rem;
}
.banner-right {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.banner-left > h1 {
  font-weight: 800;
  font-size: 2.7rem;
}
.banner-left > p {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
}
.hero-btn {
  border: none;
  border-radius: 10rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
  color: white;
  background: rgb(239, 37, 179);
  background: linear-gradient(
    90deg,
    rgba(239, 37, 179, 1) 0%,
    rgba(138, 36, 232, 1) 75%
  );
}
/* ===[ Banner-End ]=== */

/* ==={ Navbar }=== */
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, #0a0c2a00 0%, #0a0c2a3f 75%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.link {
  color: rgba(255, 255, 255, 0.608);
  font-weight: 500;
  font-size: small;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}
.link:hover {
  color: white;
}
.nav-btn {
  border: none;
  border-radius: 10rem;
  padding: 0.3rem 2rem;
  font-weight: 500;
  color: white;
  background: var(--color-purple);
  font-size: small;
}
.mobile-navbar {
  position: fixed;
  background-color: #0d1225c7;
  width: 100vw;
  bottom: 0;
  z-index: 2;
  justify-content: space-around;
  border-radius: 8px 8px 0 0;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.048);
}
.mobile-navbar i {
  font-size: 1.5rem;
  font-weight: lighter;
}
.i-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 60%;
  color: #ffffff;
  text-decoration: none;
}
.i-cnt:hover {
  opacity: 100%;
}
.active {
  opacity: 100%;
  scale: 1.1;
}
.i-cnt span {
  font-size: small;
  font-weight: 500;
  /* letter-spacing: 0.5px; */
}
.i-cnt svg {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0.3rem;
}
#email,
#projects,
#meta {
  background-image: url("./Images/background-with-pattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
#intro {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-background);
}
.title {
  color: #994ce2;
  font-weight: 500;
  font-size: medium;
}
.sub-title {
  font-weight: 800;
  font-size: 2rem;
  color: #ffffff;
}
.para {
  font-weight: 500;
  font-size: large;
  color: #ffffff;
  width: 60%;
  text-align: center;
  opacity: 50%;
}
.card-row > .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 6rem;
  color: #ffffff83;
  border-radius: 8px;
  background-color: #0e142e;
  border-left: 1px solid rgba(255, 255, 255, 0.048);
  border-right: 1px solid rgba(255, 255, 255, 0.048);
  border-bottom: 1px solid rgba(255, 255, 255, 0.048);
}
.card p {
  font-size: large;
  opacity: 50%;
}
.b-one > span {
  font-weight: 800;
  color: #8a24e8;
}
.b-one {
  border-top: 1.5px solid var(--color-purple);
}
.b-two > span {
  font-weight: 800;
  color: #01a3a4;
}
.b-two {
  border-top: 1.5px solid #01a3a4;
}
.b-three > span {
  font-weight: 800;
  color: #ef25b3;
}
.b-three {
  border-top: 1.5px solid #ef25b3;
}
.b-four > span {
  font-weight: 800;
  color: #f0932b;
}
.b-four {
  border-top: 1.5px solid #f0932b;
}
#tech-stack {
  background-image: url("./Images/techStack.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(255, 255, 255, 0.048);
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.chart {
  background-color: #0e142e;
  border: 1px solid rgba(255, 255, 255, 0.048);
  border-radius: 8px;
  height: 500px;
}
.about-title {
  color: #f054c1 !important;
  font-weight: 500 !important;
  font-size: medium !important;
}
.about-left p {
  font-weight: 500;
  font-size: 1.1rem;
  color: #ffffff;
  text-align: left;
  opacity: 60%;
}
.about-sign {
  color: #ffffff !important;
  font-weight: 500 !important;
  font-size: medium !important;
}
/* ===[ Media Qurry ]=== */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #banner {
    padding-top: 4rem;
  }
  #navbar {
    width: 100%;
    background-color: #0d1225c7;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    border-radius: 0 0 8px 8px;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.048);
    padding: 0.8rem 0;
  }
  .banner-right {
    justify-content: center;
  }
  .console {
    width: 420px;
  }
  /* ===[ Banner-End ]=== */
  .para {
    width: 100%;
  }
  #tech-stack {
    border-top: 0.1px solid #1c2035;
  }
  .chart {
    height: 400px;
    padding: 1.5rem;
  }
  .tech-stack-row {
    flex-wrap: wrap-reverse;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .banner-right {
    justify-content: center;
  }
  /* ===[ Banner-End ]=== */
  .console {
    width: 420px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #banner {
    height: auto;
  }
  .banner-right {
    justify-content: center;
  }
  .console {
    width: 420px;
  }
  .banner-left > h1 {
    font-size: 2rem;
  }
  .banner-left > p {
    font-size: 1rem;
  }
  /* ===[ Banner-End ]=== */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #banner {
    height: auto;
  }
  .banner-left > h1 {
    font-size: 2.5rem;
  }
  .banner-left > p {
    font-size: 1.2rem;
  }
  /* ===[ Banner-End ]=== */
  .console {
    width: 110%;
    margin-left: 2rem;
  }
  #tech-stack {
    border-top: 1px solid rgba(255, 255, 255, 0.048);
  }
}
